
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: linear-gradient(to right top, #d9e4f5, #f5e3e6);*/ /* Fondo con gradiente suave */
    background-color: #113355;
}

.login-container {
  background-color: #1A4466; /* Un azul más claro para el contenedor */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra más oscura y suave */
    width: 400px;
    max-width: 90%;
}

.login-container:hover{
    box-shadow: 0 15px 35px rgba(0, 1, 1, 1); /* Sombra más pronunciada para efecto 3D */

}

.login-form h2 {
    color: #D9E4F5; /* Un color más claro para el título para mejor contraste */
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px; /* Más espacio entre campos */
    display: flex;
    flex-direction: column;
}

.input-group label {
    color: #AFCDE7; /* Un color más claro para los labels */
    margin-bottom: 10px;
    font-size: 14px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #AFCDE7; /* Borde más claro */
    border-radius: 5px;
    font-size: 12px;
    background-color: #E1EFFA; /* Un color más claro para el fondo del input */
    color: #122A3C; /* Un color más oscuro para el texto del input */
}

.container-button{
    text-align: center;
}

button {
    background-color: #113355; /* Un color azul que se destaca pero sigue la paleta */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease-in-out; /* Transición para todos los estados */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra externa para el estado normal */
}

button:hover {
    background-color: #3B699A; /* Un tono ligeramente más claro para el hover */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset; /* Sombra interna más oscura para el efecto hundido */
    transform: translateY(1px); /* Un ligero movimiento hacia abajo */
}